.card {


  display: grid;
  grid-auto-flow: row;
  grid-template-rows: 25vh repeat(4, 1fr);
  box-sizing: border-box;

  box-shadow: .4rem .4rem 1.6rem rgba( 0, 0, 0, 0.06 );
  justify-items: center;

  &Image {

    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 200px;
    width: 100%;


    .fa-heart {
      position: absolute;
      right: 0;
      top: 0;
      padding: 2rem  2rem 2rem 0;
      color: #1165B2;
    }

  }

  &Header {
    display: flex;

  }



  &Color {
    display: flex;
    width: 100%;
    color: #151515;


    div {
      width: 3rem;
      height: 3rem;
    }

  }




}
